COMPOSE_PROJECT_NAME=trasan
DEVELOPMENT=True

# Docker Network
DOCKER_SUBNET=172.19.0.0/16
USER_ID=1001
USER_GROUP_ID=1001

# PostgreSQL
POSTGRES_CONTAINER_NAME=db
POSTGRES_VOLUME_DATA_NAME=db_data
POSTGRES_DB=postgres
POSTGRES_SU_PASS=mysecretpass
POSTGRES_SU=postgresuser
POSTGRES_HOST=172.19.0.6

# PgAdmin
PGADMIN_CONTAINER_NAME=pgadmin
PGADMIN_VOLUME_NAME=pgadmin_data
PGADMIN_HOST=172.19.0.16
PGADMIN_LISTEN_PORT=15432